@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&family=Raleway:wght@500;600;700&display=swap");

/* font-family: 'Bebas Neue', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif; */

body {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", sans-serif;
}

.ant-carousel .slick-dots li button {
  background: black !important;
}

.ant-carousel .slick-dots li.slick-active button {
  opacity: 1;
  background: red !important;
}
